@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {text-decoration: none; color: inherit;}

html, body {height:100%;}

html {-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;}
body {font-family: 'Proxima Nova Medium', 'Noto Sans KR', sans-serif; min-width: 1100px;}

* {box-sizing: border-box;}

a {transition: all 0.4s;}
a:hover {color: #000;}

#wrap {position: relative; height: 100%; min-height: 600px;}

.container {width:80%; padding: 0 40px; min-width: 1180px; max-width: 1400px; margin:0 auto; position: relative; background: #fff;}

.nanum-mj {font-family: 'Nanum Myeongjo', serif;}

#mfPreviewBar {display: none;}

header {text-align: center; height: 100%;}
header .intro {height: 170px; background: #fff; position: absolute; width: 100%;}
header #visual {position: fixed; width: 100%; height: 100%; background: url(./img/visual.jpg) center 0px no-repeat; background-size: cover;}
header p {position:relative; line-height: 175px; color: #444; font-size: 14px; left: 50px; float: left;}
header nav {position:relative; right: 50px; line-height: 175px; z-index: 10; font-size: 14px; color: #444; float: right;}
header nav a {display: inline-block; margin-left: 14px; transition:all 0.4s;}
header h1 {padding-top: 66px; display: inline-block; height: 170px;}

#content {position: relative; width: 100%; z-index: 10; background: #fff; width: 100%;}

#sub-header {height: 60px; position: fixed; width:100%; top:0; background: #fff; z-index:100; top:-60px; transition:top 0.4s; box-shadow:0 0 10px rgba(0,0,0,.05);}
#sub-header.show {top:0;}
#sub-header #sub-logo {float: left; margin-top: 15px;}
#sub-header #sub-logo + p {float: left; line-height: 60px; margin-top: 3px; margin-left: 10px; font-size: 13px; color: #444;}
#sub-header nav {line-height: 63px; position: relative; float: right; font-size: 13px; color: #444;}
#sub-header nav a {display: inline-block; margin-left: 14px; transition:all 0.4s;}
#sub-header .container {padding:0 50px;}


footer {position: relative; background: #f2f4f7;}
footer .container {background: #f2f4f7; padding-top: 60px; padding-bottom: 140px;}

#footer {}
#footer:after {content:''; clear: both; display: block;}
#footer .box {width: 18%; margin: 0 1%; float: left;}
#footer .box img {margin-top:10px;}
#footer .box h4 {color: #222; padding: 20px 0 20px; font-size: 13px; font-weight: bold; letter-spacing: 1px;}
#footer .box ol li {margin-top: 18px; color: #777; font-size: 13px;}
#footer .box ol li a:hover {color: #000;}

.content-area {background: #fff;}
.content-area header h2 {font-size: 32px; color: #1d1d1d; font-weight: 600; text-align: left; padding: 80px 1% 40px;}
.content-container {padding-bottom: 120px; min-height: 400px;}
.content-container:after {content:''; clear: both; display: block;}
.content-container > div {padding-bottom: 70px;}
.content-container .box {width: 23%; margin:0 1%; float: left;}
.content-container .box h3 {font-size: 11pt; color: #2d2d2d; padding: 40px 0 25px; border-bottom: 1px solid #ddd;}
.content-container h5 {font-size: 9pt; color: #6f6f6f;}
.content-container .box ol {line-height: 11pt; font-size: 11pt; padding: 8px 0;}
.content-container .box ol li {margin-top: 18px; color: #444;}

/*.one-box {font-size: 13.5px; color: #444; margin:0 1%; float:left;}*/
.content-container .text-box {font-size: 13.5px; color: #444;}
.content-container .text-box.two-box {width: 73%;}
.content-container .text-box > div {margin-bottom: 60px;}
.text-box a {line-height: 23px;}
.post-type {display: inline-block; color: #569b90; margin: 0 3px 0 0;}
.post-lan {background: #ececec; display: inline-block; color: #222; padding: 4px 5px; margin: 0 3px 0 0;}
.text-box a {display: block; margin-top: 5px;}



.pf-column {position: relative; cursor: pointer; margin-bottom: 30px;}
.pf-column .thumb-img {background-size: cover; background-position: center; background-repeat: no-repeat; height: 200px;}


.pf-column .thumb-img.js-thumb {background-image:url(./img/js.png);}

.pf-column .thumb-img.webpack-thumb {background-image:url(./img/webpack.png);}
.pf-column .thumb-img.mongo-thumb {background-image:url(./img/mongo.png);}
.pf-column .thumb-img.babel-thumb {background-image:url(./img/babel.png);}
.pf-column .thumb-img.nvm-thumb {background-image:url(./img/nvm.png);}

.pf-column .thumb-img.cheolguso-v3-thumb {background-image:url(./img/cheolgusov3.png);}
.pf-column .thumb-img.quiz-pangcast-thumb {background-image:url(./img/quiz-pangcast.png);}
.pf-column .thumb-img.charactory-thumb {background-image:url(./img/charactory.png);}
.pf-column .thumb-img.mlimited-thumb {background-image:url(./img/mlimited.png);}
.pf-column .thumb-img.leencomm-thumb {background-image:url(./img/leencomm.png);}
.pf-column .thumb-img.cheolguso-v2-thumb {background-image:url(./img/cheolgusov2.png);}
.pf-column .thumb-img.vcd-v2-thumb {background-image:url(./img/vcd2.png);}
.pf-column .thumb-img.cheolguso-v1-thumb {background-image:url(./img/cheolgusov1.png);}
.pf-column .thumb-img.vcd-v1-thumb {background-image:url(./img/vcd1.png);}

.pf-column .thumb-img.d102-thumb {background-image:url(./img/d102.png);}
.pf-column .thumb-img.youngreen-thumb {background-image:url(./img/youngreen.png);}
.pf-column .thumb-img.strongegg-thumb {background-image:url(./img/strongegg.png);}
.pf-column .thumb-img.deterrace-thumb {background-image:url(./img/deterrace.png);}
.pf-column .thumb-img.sk-thumb {background-image:url(./img/sk.png);}
.pf-column .thumb-img.chasadream-thumb {background-image:url(./img/chasadream.png);}

.pf-column .type {position: absolute; top: 5px; left: 10px; font-size: 9pt; padding:0 1px; border-bottom: 1px solid #569b90; line-height: 20px;}
.pf-column p {font-size: 14px; color: #1d1d1d; line-height: 20px; padding-top:8px;}
.pf-column p .pf-date {font-size: 9pt; color: #b5b5b5;}
.pf-column .area-link {position: absolute; width: 100%; height: 100%; left: 0; top: 0; opacity: 0; background: #fff;}


#essay-section p {position: relative; font-size: 13.5px; color: #444; line-height: 24px; padding-bottom: 15px; margin-bottom: 25px; text-align: justify;}
#essay-section p:after {content: ''; position: absolute; width: 15px; left: 0px; bottom: 0; border-bottom: 1px dotted #569b90;}