/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* FONT */
@font-face {
    font-family: 'Arita';
    src:url('../font/Arita-Medium.eot');
    src:url('../font/Arita-Medium.eot#iefix') format('embedded-opentype'),
        url('../font/Arita-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Couture';
    src:url('../font/Couture-Bold.eot');
    src:url('../font/Couture-Bold.eot#iefix') format('embedded-opentype'),
        url('../font/Couture-Bold.woff') format('woff');
}


/* START */
* {box-sizing: border-box;}
h1 {font-family: 'Couture', sans-serif;}
body {font-family: 'Arita', 'consolas', sans-serif; color: #353535; font-size: 15px;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
a {color:inherit; text-decoration: none;}
main {display: block;}

.container {width:1200px;}
main {display:block;}
.clear-after:after {
    content : '';
    display: block;
    clear: both;
}
.display-none-title {
    opacity: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
}
.area-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#fff;
    filter: alpha(opcaity:0);
    opacity: 0;
}

.sub-color-1 {color:#7a7a7a;}
.sub-color-2 {color:#aaa;}
.text-number {font-size: 13px;}

#side-area {position: fixed; width: 300px; height: 100%; top: 80px; left: 100px; z-index: 10;}
.main-header h1 {font-size: 42px; letter-spacing: 2.7px; margin-bottom: 57px;}
.main-header .navigation-list {margin-bottom: 33px;}
.main-header .navigation-list a {display: block; line-height: 32px; transition:color 0.4s; -webkit-transition:color 0.4s;}
.main-header .navigation-list a span {font-size: 10px;}

.main-header .navigation-list:hover a {color: #7a7a7a;}
.main-header .navigation-list:hover a:hover {color: #111;}

.profile-list {margin-bottom:25px;}
.profile-list a {display: block; font-size: 12px; line-height: 22px; transition:color 0.4s; -webkit-transition:color 0.4s;}

.profile-list a:hover {color: #111;}

.main-footer .copyright {display: block; font-size: 12px; line-height: 22px;}


#content {position:fixed; top: 0; left: 0; width: 100%; height: 100%; overflow: auto; padding: 182px 0 80px 400px; line-height: 24px;}

.breadcrumb {margin-bottom: 34px;}
.breadcrumb span {background: #353535; display:inline-block; height: 17px; padding: 0 3px; color: #fff;}

.about-page p {margin-bottom: 15px;}
.page-content > section {margin-bottom: 100px;}

.three-column-container:after {
    content: '';
    clear:both;
    display: block;
}
.pf-column-box {float:left; padding:30px 30px 0 0; width: 280px; transition:opacity 0.4s; -webkit-transition:opacity 0.4s;}
.pf-column-box .pf-column .thumb-img {background: #f2f2f2; height: 200px; margin-bottom: 10px;}
.pf-column-box .pf-column p {font-size: 13px;}
.pf-date {color:#7a7a7a;}

.three-column-container:hover .pf-column-box {opacity: 0.7;}
.three-column-container:hover .pf-column-box:hover {opacity: 1;}

.personal-plugin-list {margin-top:15px;}
.personal-plugin-list p {line-height: 32px;}
.personal-plugin-list p * {transition:color 0.4s; -webkit-transition:color 0.4s;}


.personal-plugin-list:hover a, .personal-plugin-list:hover a > * {color: #7a7a7a;}
.personal-plugin-list:hover a:hover, .personal-plugin-list:hover a:hover > * {color: #111;}


.pf-column-box .pf-column {position: relative; cursor: pointer;}
.pf-column-box .pf-column .thumb-img {background-size: cover; background-position: center; background-repeat: no-repeat;}
.pf-column-box .pf-column .thumb-img.falsy-thumb {background-image:url(../img/falsy.png);}
.pf-column-box .pf-column .thumb-img.cheolguso-v3-thumb {background-image:url(../img/cheolgusov3.png);}
.pf-column-box .pf-column .thumb-img.quiz-pangcast-thumb {background-image:url(../img/quiz-pangcast.png);}
.pf-column-box .pf-column .thumb-img.charactory-thumb {background-image:url(../img/charactory.png);}
.pf-column-box .pf-column .thumb-img.mlimited-thumb {background-image:url(../img/mlimited.png);}
.pf-column-box .pf-column .thumb-img.leencomm-thumb {background-image:url(../img/leencomm.png);}
.pf-column-box .pf-column .thumb-img.cheolguso-v2-thumb {background-image:url(../img/cheolgusov2.png);}
.pf-column-box .pf-column .thumb-img.vcd-v2-thumb {background-image:url(../img/vcd2.png);}
.pf-column-box .pf-column .thumb-img.cheolguso-v1-thumb {background-image:url(../img/cheolgusov1.png);}
.pf-column-box .pf-column .thumb-img.vcd-v1-thumb {background-image:url(../img/vcd1.png);}

.pf-column-box .pf-column .thumb-img.d102-thumb {background-image:url(../img/d102.png);}
.pf-column-box .pf-column .thumb-img.youngreen-thumb {background-image:url(../img/youngreen.png);}
.pf-column-box .pf-column .thumb-img.strongegg-thumb {background-image:url(../img/strongegg.png);}
.pf-column-box .pf-column .thumb-img.deterrace-thumb {background-image:url(../img/deterrace.png);}
.pf-column-box .pf-column .thumb-img.sk-thumb {background-image:url(../img/sk.png);}
.pf-column-box .pf-column .thumb-img.chasadream-thumb {background-image:url(../img/chasadream.png);}



.essay-page.page-content > section {margin-bottom: 180px; letter-spacing: 0.3px;}
.essay-page.page-content > section h3 {margin-bottom: 15px; font-size: 14px;}
.essay-page.page-content > section p {margin-bottom: 8px; font-size: 13px; line-height: 24px;}




@media only screen and (max-width: 700px) {
    body {
        font-size: 13px;
    }
    #side-area {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 60px 30px;
    }
    #content {
        position: relative;
        padding: 50px 30px;
    }
    .main-header .navigation-list a {
        font-size: 15px;
    }
    .pf-column-box {        
        padding: 15px 0;
    }
    img {
        max-width: 100%;
    }
    .essay-page.page-content > section h3 {
        font-size: 13px;
    }
    .essay-page.page-content > section p {
        font-size: 12px;
    }
    .essay-page.page-content > section {
        margin-bottom: 250px;
    }
}
