<div class="page-content about-page">
	<figure>
		<img src="./assets/img/me.png" width=305 alt="me">
	</figure>
	<p>
		name.<br />
		cheolje jo
	</p>
	<p>
		date of birth.<br />
		february 04th, 1989
	</p>
	<p>
		experiences.<br />
		tenqube <span class="sub-color-2 text-number">2016-</span><br />
		studio-jt <span class="sub-color-2 text-number">2013-2015</span>
	</p>
	<p>
		skills.<br />
		webstorm sublimetext photoshop<br />
		html css javascript <span class="sub-color-2">typescript</span> <span class="sub-color-2">php</span> <span class="sub-color-2">python</span><br />
		jquery lodash async <span class="sub-color-2">jasmine</span> angular <span class="sub-color-2">require</span><br />
		<span class="sub-color-2">node express</span> grunt less <span class="sub-color-2">flask</span><br />
		wordpress <span class="sub-color-2">gnuboard</span> <span class="sub-color-2">cafe24</span><br />
		<span class="sub-color-2">mysql</span> <span class="sub-color-2">ubuntu</span><br />
		<span class="sub-color-2">aws</span>
	</p>
	<p>
		interests.<br />
		es6 babel typescript node ui/ux
	</p>
</div>