<div class="page-content portfolio-page">
	<section>
		<h2>personal /plugin <span class="sub-color-2">/jquery /wordpress</span></h2>
		<div class="personal-plugin-list">
			<p><a href="https://github.com/falsy/multi-ajax-loaded" target="_blank">multi ajax loaded <span class="pf-date text-number">2016</span></a></p>
			<p><a href="https://github.com/falsy/tqb-verification" target="_blank">tqb verification <span class="pf-date text-number">2016</span></a></p>
			<p><a href="http://studio-jt.co.kr/portfolio/jt-easy-pop-up/" target="_blank">jt easy popup <span class="pf-date text-number">2013-2015</span></a></p>
			<p><a href="https://wordpress.org/plugins/jt-smooth-mousewheel-scroll/" target="_blank">smooth mousewheel scroll <span class="pf-date text-number">2014</span></a></p>
			<p><a href="https://wordpress.org/plugins/jt-old-browser-alert/" target="_blank">jt old browser alert <span class="pf-date text-number">2013</span></a></p>
		</div>
	</section>
	<section>
		<h2>personal /web <span class="sub-color-2">/design /develop</span></h2>
		<div class="three-column-container">
			<div class="pf-column-box">
				<div class="pf-column">
					<div class="thumb-img falsy-thumb"></div>
					<p>falsy<br /><span class="pf-date">2016-</span></p>
					<a class="area-link" href="http://falsy.me/" target="_blank"></a>
				</div>
			</div>
			<div class="pf-column-box">
				<div class="pf-column">
					<div class="thumb-img cheolguso-v3-thumb"></div>
					<p>cheolguso v3<br /><span class="pf-date">2013-2016</span></p>
					<a class="area-link" href="http://cheolguso.com/" target="_blank"></a>
				</div>
			</div>
			<div class="pf-column-box">
				<div class="pf-column">
					<div class="thumb-img cheolguso-v2-thumb"></div>
					<p>cheolguso v2<br /><span class="pf-date">2013</span></p>
					<a class="area-link" href="http://cheolguso.com/pf/cgs_2/" target="_blank"></a>
				</div>
			</div>
			<div class="pf-column-box">
				<div class="pf-column">
					<div class="thumb-img vcd-v2-thumb"></div>
					<p>KNU. VCD v2<br /><span class="pf-date">2012</span></p>
					<a class="area-link" href="http://cheolguso.com/pf/knu_2/" target="_blank"></a>
				</div>
			</div>
			<div class="pf-column-box">
				<div class="pf-column">
					<div class="thumb-img cheolguso-v1-thumb"></div>
					<p>cheolguso v1<br /><span class="pf-date">2012</span></p>
					<a class="area-link" href="http://cheolguso.com/pf/cgs_1/" target="_blank"></a>
				</div>
			</div>
			<div class="pf-column-box">
				<div class="pf-column">
					<div class="thumb-img vcd-v1-thumb"></div>
					<p>KNU. VCD v1<br /><span class="pf-date">2012</span></p>
					<a class="area-link" href="http://cheolguso.com/pf/knu_1/" target="_blank"></a>
				</div>
			</div>
		</div>
	</section>
	<section>
		<h2>personal /web <span class="sub-color-2">/develop</span></h2>
		<div class="three-column-container">
			<div class="pf-column-box">
				<div class="pf-column">
					<div class="thumb-img quiz-pangcast-thumb"></div>
					<p>quiz pangcast<br /><span class="pf-date">2015</span></p>
					<a class="area-link" href="http://quiz.pangcast.com/" target="_blank"></a>
				</div>
			</div>
			<div class="pf-column-box">
				<div class="pf-column">
					<div class="thumb-img charactory-thumb"></div>
					<p>Charactory<br /><span class="pf-date">2015</span></p>
					<a class="area-link" href="http://charactory.co.kr/" target="_blank"></a>
				</div>
			</div>
			<div class="pf-column-box">
				<div class="pf-column">
					<div class="thumb-img mlimited-thumb"></div>
					<p>M-LIMITED Lookbook<br /><span class="pf-date">2015</span></p>
					<a class="area-link" href="http://ebook.m-limited.co.kr/2015FW/" target="_blank"></a>
				</div>
			</div>
			<div class="pf-column-box">
				<div class="pf-column">
					<div class="thumb-img leencomm-thumb"></div>
					<p>Leencomm<br /><span class="pf-date">2015</span></p>
					<a class="area-link" href="http://leencomm.co.kr/" target="_blank"></a>
				</div>
			</div>
		</div>
	</section>
	<section>
		<h2>with studio-jt /web <span class="sub-color-2">/develop</span></h2>
		<div class="three-column-container">
			<div class="pf-column-box">
				<div class="pf-column">
					<div class="thumb-img d102-thumb"></div>
					<p>d102<br /><span class="pf-date">2015</span></p>
					<a class="area-link" href="http://d102.co.kr/" target="_blank"></a>
				</div>
			</div>
			<div class="pf-column-box">
				<div class="pf-column">
					<div class="thumb-img youngreen-thumb"></div>
					<p>you/green<br /><span class="pf-date">2015</span></p>
					<a class="area-link" href="http://you-green.com/" target="_blank"></a>
				</div>
			</div>
			<div class="pf-column-box">
				<div class="pf-column">
					<div class="thumb-img strongegg-thumb"></div>
					<p>strongegg<br /><span class="pf-date">2015</span></p>
					<a class="area-link" href="http://strongegg.com/" target="_blank"></a>
				</div>
			</div>
			<div class="pf-column-box">
				<div class="pf-column">
					<div class="thumb-img deterrace-thumb"></div>
					<p>deterrace<br /><span class="pf-date">2014</span></p>
					<a class="area-link" href="http://deterrace.com/" target="_blank"></a>
				</div>
			</div>
			<div class="pf-column-box">
				<div class="pf-column">
					<div class="thumb-img sk-thumb"></div>
					<p>skinnovation if<br /><span class="pf-date">2014</span></p>
					<a class="area-link" href="http://sk.studio-jt.co.kr/" target="_blank"></a>
				</div>
			</div>
			<div class="pf-column-box">
				<div class="pf-column">
					<div class="thumb-img chasadream-thumb"></div>
					<p>chasadream<br /><span class="pf-date">2014</span></p>
					<a class="area-link" href="http://sadream.co.kr/" target="_blank"></a>
				</div>
			</div>
	</section>
</div>